{% extends "base.html" %}
{% set active_page = "tilesrpi" %}

{% block title %}TILES{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<h1><img  align="left" src="static/images/logo.png" alt="CLEAR Global logo" height="45px">TILES</h1>
Say namaste and then ask your question.
<br>
For example:
<br>
<br>
<em>जलवायु परिवर्तन किसे कहते हैं ?</em>
<br>
<em>जलवायु परिवर्तन के मुख्य खतरे क्या हैं ?</em> 
<br>
<em>क्या जलवायु परिवर्तन के कारण जानवरों की प्रजातियां खत्म हो रही हैं?</em>
<br>

<pre id="log"></pre> 

<ul id='messages'></ul>

<div id="video-placeholder"  style="display:none"></div> 


{% endblock %}

{% block scripts %}
{{ super() }}

<script>
    function processintent(formdata) {
        $.ajax({
          url: 'tilesrpi/intent',
          type: 'post',
          data: formdata,
          contentType: false,
          processData: false,
          success: function(data){
            if (data.found) {
                console.log('intent ', data.id)

                // Show recognized intent on the log pane (for debugging)
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(data.id) 
                message.appendChild(content)
                messages.appendChild(message)
                
                // Code to show an image or video should be placed here
                console.log('show ' + data.imageid)
                
            }else{
                // Intent not recognized
                console.log('intent not recognized')

                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode('intent not recognized!') 
                message.appendChild(content)
                messages.appendChild(message)

                // Code to show an image or video should be placed here
                console.log('show ' + data.imageid)
            }
          }
        });
    }

    function playaudio(formdata) {
        $.ajax({
          url: 'tilesrpi/play',
          type: 'post',
          data: formdata,
          contentType: false,
          processData: false,
          success: function(data){
            // Any action after the audio play stops
          }
        });
    }
    
    const waitForOpenConnection = (socket) => {
    return new Promise((resolve, reject) => {
        const maxNumberOfAttempts = 10
        const intervalTime = 200 //ms

        let currentAttempt = 0
        const interval = setInterval(() => {
            if (currentAttempt > maxNumberOfAttempts - 1) {
                clearInterval(interval)
                reject(new Error('Maximum number of attempts exceeded'))
            } else if (socket.readyState === socket.OPEN) {
                clearInterval(interval)
                resolve()
            }
            currentAttempt++
        }, intervalTime)
    })
}

    var ws = new WebSocket("ws://localhost:12101/api/events/intent");
    
    ws.onmessage = function(event) {
        var messages = document.getElementById('messages')
        var message = document.createElement('li')
        var content = document.createTextNode(event.data) 
        var jsonobj = JSON.parse(event.data);
        console.log(event.data)
        // message.appendChild(content)
        // messages.appendChild(message)
        let fd = new FormData();
        fd.append('intentstr', event.data);
        processintent(fd);

        let fd2 = new FormData();
        // fd2.append('intentid', 'myintentid');
        // fd2.append('audiopath', 'audiopath');
        playaudio(fd2);
    };

    var wakesocket = new WebSocket("ws://localhost:12101/api/events/wake");
    wakesocket.onmessage = function(event) {
        console.log(event.data)
    };

    function sendMessage(event) {
        var input = document.getElementById("messageText")
        ws.send(input.value)
        input.value = ''
        event.preventDefault()
    }

</script>

{% endblock %}
