{% extends "base.html" %}
{% set active_page = "tilesrpi" %}

{% block title %}Transcribe{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<h1>What do you want to grow?</h1>
<br>
I can guide you to videos about gardening. 
<br>
Activate me by saying "porcupine" and then say something like "I want to grow roses", "How do I stop ants?"
<pre id="log"></pre> 
<!-- {{ text }}
{{ videoid }} -->

<!-- <button onclick="stopVideo();return false;">Click me</button> -->
<!-- <div id="video" style="position: fixed;left:50%;height: 400px; transform: translate(-50%, 0%);"></div> -->
<!-- <div class="youtube" id="LcIytqkbdlo" style="width:560px; height: 315px;"></div> -->
<!-- <iframe width="420" height="345" src="http://www.youtube.com/embed/oHg5SJYRHA0?autoplay=1" frameborder="0" allowfullscreen></iframe> -->

<!-- <iframe src="//www.youtube.com/embed/oHg5SJYRHA0?autoplay=1&mute=1" name="youtube embed" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->

<ul id='messages'></ul>

<div id="video-placeholder"  style="display:none"></div> 

<script src="https://www.youtube.com/iframe_api"></script>

{% endblock %}

{% block scripts %}
{{ super() }}

<!-- <script src="/static/js/tilesapp.js">
let fd = new FormData();
fd.append('message', 'some message');
// dostuff(fd);
// if (this._oneshot) {
//     this._recognizer.setActive(false).then(updateButton)
// }
</script> -->
<script>
    function dostuff (formdata) {
        
    }
    var ws = new WebSocket("ws://localhost:12101/api/events/intent");
    ws.onmessage = function(event) {
        var messages = document.getElementById('messages')
        var message = document.createElement('li')
        var content = document.createTextNode(event.data) 
        // var jsonobj = JSON.parse(event.data);
        // console.log(event.data)
        // message.appendChild(content)
        // messages.appendChild(message)
        let fd = new FormData();
        fd.append('intentstr', event.data);
        dostuff(fd);
    };

    var wakesocket = new WebSocket("ws://localhost:12101/api/events/wake");
    wakesocket.onmessage = function(event) {
        console.log(event.data)
    };

    function sendMessage(event) {
        var input = document.getElementById("messageText")
        ws.send(input.value)
        input.value = ''
        event.preventDefault()
    }

</script>

{% endblock %}