{% extends "base.html" %}
{% set active_page = "tilesrpi" %}

{% block title %}Transcribe{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<h1>TILES demo</h1>
<br>
Say namaste and then ask your question
<pre id="log"></pre> 

<ul id='messages'></ul>

<div id="video-placeholder"  style="display:none"></div> 


{% endblock %}

{% block scripts %}
{{ super() }}

<script>
    function dostuff (formdata) {
        var v = document.getElementById("video-placeholder");
        $.ajax({
          url: 'tilesrpi/intent',
          type: 'post',
          data: formdata,
          contentType: false,
          processData: false
        });
    }
    var ws = new WebSocket("ws://localhost:12101/api/events/intent");
    ws.onmessage = function(event) {
        var messages = document.getElementById('messages')
        var message = document.createElement('li')
        var content = document.createTextNode(event.data) 
        var jsonobj = JSON.parse(event.data);
        console.log(event.data)
        // message.appendChild(content)
        // messages.appendChild(message)
        let fd = new FormData();
        fd.append('intentstr', event.data);
        dostuff(fd);
    };

    var wakesocket = new WebSocket("ws://localhost:12101/api/events/wake");
    wakesocket.onmessage = function(event) {
        console.log(event.data)
    };

    function sendMessage(event) {
        var input = document.getElementById("messageText")
        ws.send(input.value)
        input.value = ''
        event.preventDefault()
    }

</script>

{% endblock %}